@font-face {
  font-family: 'HeaderFont';
  src: url('./admiration_pains.ttf');
}

nav {
  display: flex;
  gap: 12px;
  padding: 32px;
  justify-content: center;
}

nav > div {
  padding: 12px 0 12px 0;
  width: 128px;
  font-size: xx-large;
  font-family: 'HeaderFont';
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}